.bookList {
  display: grid;
  width: 90vw;
  gap: 2rem;
  max-width: 1170px;
  margin: 5rem auto;
}

.book {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f1f2f3;
}

.book img {
    width:100%;
    object-fit: cover;
}

.book h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.book h3 {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    color:#4b6b88;
}
@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(3, 1fr);
  }
}
